{
  "sellContainerSize" : 56,
  "buyBody" : "/interface/merchant/csbi_buybody.png",
  "sellBody" : "/interface/merchant/csbi_sellbody.png",
  "paneLayout" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/merchant/csbi_merchantaltheader.png",
      "fileBody" : "/interface/merchant/csbi_buybody.png",
      "fileFooter" : "/interface/merchant/csbi_merchantfooter.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/csbi_x.png",
      "hover" : "/interface/csbi_xhover.png",
      "pressed" : "/interface/csbi_xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [163, 247],
      "zlevel" : 501
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "-",
      "subtitle" : "-",
      "position" : [-5, 252],
      "icon" : {
        "type" : "image",
        "file" : "/interface/csbi_blank.png",
        "position" : [0, -20],
        "zlevel" : -1
      }
    },
    "bgShine" : {
      "type" : "image",
      "file" : "/interface/csbi_blank.png",
      "position" : [0, -12],
      "zlevel" : 1,
      "mouseTransparent" : true
    },

    "buySellTabs" : {
      "type" : "tabSet",
      "tabButtonBaseImage" : "/interface/tabs/csbi_tabbase.png",
      "tabButtonHoverImage" : "/interface/tabs/csbi_tabbase.png",
      "tabButtonBaseImageSelected" : "/interface/tabs/csbi_tabbase.png",
      "tabButtonHoverImageSelected" : "/interface/tabs/csbi_tabbase.png",
      "tabButtonPressedOffset" : [0, 0],
      "tabButtonTextOffset" : [0, 0],
      "tabButtonSpacing" : [3, 0],
      "rect" : [4, 0, 173, 234],
      "tabs" : [
        {
          "tabName" : "buy",
          "tabTitle" : "",
          "children" : {
            "spinCount" : {
              "type" : "spinner",
              "position" : [3, 50],
              "upOffset" : 44
            },
            "tbCount" : {
              "callback" : "parseCountText",
              "blur" : "countChanged",
              "type" : "textbox",
              "position" : [18, 50],
              "textAlign" : "center",
              "maxWidth" : 18,
              "regex" : "x?\\d{0,4}"
            },
            "imgCountBg" : {
              "type" : "image",
              "file" : "/interface/merchant/csbi_amount.png",
              "position" : [13, 49],
              "zlevel" : -3
            },
            "lblBuyTotalCaption" : {
              "type" : "label",
              "fontSize" : 8,
              "position" : [109, 51],
              "value" : "",
              "hAnchor" : "right"
            },
            "imgBuyMoneyIcon" : {
              "type" : "image",
              "file" : "/interface/csbi_blank.png",
              "position" : [111, 53],
              "zlevel" : -3
            },
            "lblBuyTotal" : {
              "type" : "label",
              "fontSize" : 8,
              "position" : [128, 50],
              "value" : "999999"
            },
            "btnBuy" : {
              "callback" : "buy",
              "type" : "button",
              "base" : "/interface/merchant/csbi_buybutton.png",
              "hover" : "/interface/merchant/csbi_buybuttonhover.png",
              "position" : [58, 27]
            },
            "scrollArea" : {
              "type" : "scrollArea",
              "rect" : [5, 62, 170, 216],
              "children" : {
                "itemList" : {
                  "type" : "list",
                  "schema" : {
                    "selectedBG" : "/interface/merchant/csbi_itemselected.png",
                    "unselectedBG" : "/interface/merchant/csbi_itembackground.png",
                    "position" : [2, 0],
                    "spacing" : [0, 1],
                    "memberSize" : [156, 20],
                    "listTemplate" : {
                      "background" : {
                        "type" : "image",
                        "file" : "/interface/merchant/csbi_itembackground.png",
                        "position" : [0, 0],
                        "zlevel" : -1
                      },
                      "itemName" : {
                        "type" : "label",
                        "position" : [22, 18],
                        "hAnchor" : "left",
                        "vAnchor" : "top",
                        "wrapWidth" : 116,
                        "lineSpacing" : 1.05,
                        "value" : "Replace Me"
                      },
                      "itemIcon" : {
                        "type" : "itemslot",
                        "position" : [1, 1],
                        "callback" : "null"
                      },
                      "moneyIcon" : {
                        "type" : "image",
                        "position" : [22, 1],
                        "file" : "/interface/money.png"
                      },
                      "priceLabel" : {
                        "type" : "label",
                        "position" : [35, 0],
                        "hAnchor" : "left",
                        "value" : "0"
                      },
                      "unavailableoverlay" : {
                        "type" : "image",
                        "file" : "/interface/merchant/csbi_blank.png",
                        "position" : [0, 0],
                        "zlevel" : 1
                      }
                    }
                  }
                }
              }
            }
          }
        },
        {
          "tabName" : "sell",
          "tabTitle" : "",
          "children" : {
            "itemGrid" : {
              "rightClickCallback" : "null",
              "type" : "itemgrid",
              "position" : [9, 73],
              "dimensions" : [8, 7],
              "spacing" : [19, 19],
              "backingImage" : "/interface/inventory/csbi_empty.png",
              "zlevel" : 2
            },
            "lblSellTotalCaption" : {
              "type" : "label",
              "fontSize" : 8,
              "position" : [93, 51],
              "value" : "",
              "hAnchor" : "right"
            },
            "imgSellMoneyIcon" : {
              "type" : "image",
              "file" : "/interface/merchant/csbi_blank.png",
              "position" : [97, 53],
              "zlevel" : -3
            },
            "lblSellTotal" : {
              "type" : "label",
              "fontSize" : 8,
              "position" : [128, 50],
              "value" : "0"
            },
            "btnSell" : {
              "callback" : "sell",
              "type" : "button",
              "base" : "/interface/merchant/csbi_button.png",
              "hover" : "/interface/merchant/csbi_buttonhover.png",
              "position" : [58, 27]
            }
          }
        }
      ]
    }
  }
}
